.image-search-container {
    display: grid;
    grid-template-columns: repeat(3, 72px);
    gap: 36px; 
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: auto;
    max-height: 100vh;
    /* overflow-y: auto; */
}

.result-item {
    background-color: #ccc;
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 10px;
    border-radius: 4px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.result-item:hover {
    border: 1px solid;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}



.error-message {
    color: #ff0000; /* Red color for the error message */
    margin: 20px 0; /* Center the message with margin */
    padding: 15px; /* Add padding for better spacing */
    background-color: rgba(255, 0, 0, 0.1); /* Light red background for visibility */
    border: 1px solid #ff0000; /* Red border for emphasis */
    border-radius: 5px; /* Rounded corners for a softer look */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    width: 100%; /* Make the error message take full width */
    max-width: 600px; /* Optionally set a max width */
    min-width: 300px; /* Optionally set a minimum width */
    word-wrap: break-word; /* Allow long words to break */
}


